<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Single</title>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Yummy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //Custom Theme files -->
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- js -->
    <script src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap-3.1.1.min.js"></script>
    <script src="../js/imagezoom.js"></script>
    <!-- //js -->
    <!-- cart -->
    <script src="../js/simpleCart.min.js"></script>
    <!-- cart -->
    <!-- FlexSlider -->
    <script defer src="../js/jquery.flexslider.js"></script>
    <link rel="stylesheet" href="../css/flexslider.css" type="text/css" media="screen"/>
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script><!-- Latest compiled and minified CSS -->

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
            text-align: left;
        }
        table#t01 {
            width: 100%;
            background-color: #f1f1c1;
        }
    </style>



</head>
<body>
<!--header-->
<div class="header">
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="navbar-brand"><a th:href="@{/user/home}">Yummy</a></h1>
            </div>
            <!--navbar-header-->


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/user/home}" >HOME</a></li>

                    <li class="dropdown" th:each="menu : ${menus}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" th:text="${menu.name}"><b
                                class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-4">
                            <div class="row">
                                <div class="col-sm-3" th:each="category : ${categories}"
                                     th:if="${category.menus.contains(menu)}">
                                    <h4 th:text="${category.name}"></h4>
                                    <ul class="multi-column-dropdown" th:each="subcategory : ${subcategories}"
                                        th:if="${category.id == subcategory.category.id}">
                                        <li><a class="list" th:href="@{/user/productBySubcategoryId(id=${subcategory.id})}" th:text="${subcategory.name}"></a></li>

                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li><a th:href="@{/user/contact}" >CONTACT</a></li>
                </ul>
                <!--/.navbar-collapse-->
            </div>
            <!--//navbar-header-->
        </nav>
        <div class="header-info">
            <div class="header-right search-box">
                <a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                <div class="search">


                    <input type="text" class="form-control" id="searchName" placeholder="name">


                    <input type = "submit" value="Search" class="item_add items" onclick="search()"   >

                </div>
            </div>
            <script>
                function search() {
                    var name = $('#searchName').val();


                    var url = "http://localhost:8081/user/search?search=name:"
                        + name ;
                    window.location = url;
                }
            </script>
            <div class="header-right login">
                <a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
                <div id="loginBox">
                    <form id="loginForm">
                        <fieldset id="body" >
                            <a style="color:#F07818" href="/user/account">My Accaount</a>
                            <a style="color:#F07818" th:href="@{/user/updateAddress}">Update Address</a>
                            <a style="color:#F07818" th:href="@{/user/updateUser}">Update My Data</a>
                            <a style="color:#F07818" href="/user/myOrder">My Order</a>
                            <a style="color:#F07818" href="/logout">Logout</a>
                            <div class="clearfix"> </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <div class="header-right cart">
                <a  th:href="@{/user/checkout}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>

            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--//single-page-->
<div class="single" style="margin-left: 223px">
    <div class="container">
        <div class="single-grids">


            <div class="col-md-4 single-grid">
                <div class="flexslider">
                    <ul class="slides" >
                        <li th:attr="data-thumb=@{/user/getImage(picUrl=${user.picUrl})}">
                            <div class="thumb-image"><img th:src="@{/user/getImage(picUrl=${user.picUrl})}"
                                                          data-imagezoom="true" class="img-responsive"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 single-grid simpleCart_shelfItem">
               <span  style="color: #F07818" >Name:</span>
                <h3 th:text="${user.name}"></h3>
                <span  style="color: #F07818" >Surname:</span>
                <h3 th:text="${user.surname}"></h3>
                <span  style="color: #F07818" >Email:</span>
                <h4 th:text="${user.email}"></h4>
<br><br>
               <div >
                   <table border="1" id="t01">
                       <tr style="color:#F07818 ">
                           <th>City</th>
                           <th>Region</th>
                           <th>Street</th>
                           <th>Apartment</th>
                           <th>Suite</th>
                           <th>Phone</th>
                       </tr>
                       <tr>
                           <th th:text="${address.city}"></th>
                           <th th:text="${address.region}"></th>
                           <th th:text="${address.street}"></th>
                           <th th:text="${address.apartment}"></th>
                           <th th:text="${address.suite}"></th>
                           <th th:text="${address.phone}"></th>
                       </tr>
                   </table>

               </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


<!--footer-->
<div class="footer">
    <div class="footer-grids">
        <div class="container">
            <div class="col-md-2 footer-grid">
                <img src="../images/3.png">
            </div>



            <div class="col-md-3 footer-grid icons" style="float: right">
                <h4>Connect with Us</h4>
                <ul>
                    <li><a href="#"><img src="images/i1.png" alt=""/>Follow us on Facebook</a></li>
                    <li><a href="#"><img src="images/i2.png" alt=""/>Follow us on Twitter</a></li>
                    <li><a href="#"><img src="images/i3.png" alt=""/>Follow us on Google-plus</a></li>
                    <li><a href="#"><img src="images/i4.png" alt=""/>Follow us on Pinterest</a></li>
                </ul>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>
<!--footer-->
<div class="footer-bottom">
    <div class="container">
        <p> © 2019 Yummy .</p>
    </div>
</div>

</body>
</html>